.patternBg {
  @include patternBg;
}
.footer-overlay {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  ul {
    padding: 0;
    margin: 0;
  }
  // &:hover {
  // }
}
.bg-dark-overlay {
  background-color: #161616a1;
}
.full-width-container {
  width: 100%;
  height: 100%;
}
