// buttons
@mixin mx-btn($background) {
  box-shadow: inset -2px -2px 4px rgba($color: #222, $alpha: 0.6),
    inset 2px 2px 4px rgba($color: #ddd, $alpha: 0.6);
  background-color: $background;
  border: none;
  color: #fff;

  &:hover {
    background-color: lighten($color: $background, $amount: 19%);
  }
}
.btn-purple {
  @include mx-btn($mxPurple);
}
.btn-orange {
  @include mx-btn($mxOrange);
}
.btn-hover-orange {
  &:hover {
    background: $mxOrange;
    border: $mxOrange;
    color: whitesmoke;
  }
}
.btn-hover-purple {
  &:hover {
    background: $mxPurple;
    border: $mxPurple;
    color: whitesmoke;
  }
}
.account-menu {
  width: 10rem;
  position: absolute;
  right: 5px;
}
.account-menu-link {
  width: 100%;
  padding: 0.5rem 1rem;
  // text-align: center;
  transition: 0.5s;
}
