// Varaibles
$mxPurple: #6a0389;
$mxOrange: #ff8234;
$font-monsorat: "Montserrat", sans-serif;

// Mixins
@mixin patternBg {
  background: url("/background.png");
  background-size: cover;
  background-position: center;
}

@mixin bodyDiv {
  min-width: 100vw;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

// cursor pointer
.pointer {
  cursor: pointer;
}
.plain-link {
  @extend .pointer;
  text-decoration: underline;
  color: #eee;
  transition: 0.3s;
  &:hover {
    color: $mxPurple;
  }
}
