@import "breakpoint";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
@import "variables";
@import "imgSizes";
@import "backgrounds";
@import "nav";
@import "buttons";
@import "others";

* {
  font-family: $font-monsorat;
  font-weight: 400;
  font-style: bold;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyDiv {
  @include bodyDiv;
}
